<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
      text="Inicio">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light" fullscreen>
  <ion-card *ngIf ="product">
    <ion-img [src]="product.thumbnail"></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="price">{{product.price | currency}}</ion-card-subtitle>
      <ion-card-title class="title">{{product.name}}</ion-card-title>
      <ion-card-subtitle>{{product.seller.seller_name}}</ion-card-subtitle>
      <ion-card-subtitle> RATING: {{product.rating}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{product.description}}</ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addToCar()">
      <ion-fab-button color="primary">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-footer>
    <ion-button color="primary" expand="block" [routerLink]="['/car']">Ver Carro</ion-button>
</ion-footer>
