<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
      [text]="Home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light" fullscreen>
  <ion-card>
    <ion-thumbnail slot="center">
    </ion-thumbnail>
    <ion-card-header *ngIf ="product">
        <ion-card-title class="title">{{product.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-footer>
    <ion-button color="primary" expand="block" >Ver Carrito</ion-button>
</ion-footer>
