<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Product</ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
      [text]="Home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" fullscreen>
  <ion-card>
    <ion-thumbnail slot="center">
    </ion-thumbnail>
    <ion-card-header *ngIf ="product">
        <ion-card-title class="title">{{product.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
  </ion-card>
</ion-content>
