<ion-card class="card" *ngIf="product">
  <ion-thumbnail slot="center">
    <ion-img [src]="product.thumbnail"></ion-img>
  </ion-thumbnail>
  <ion-card-header class="header">
    <ion-card-subtitle class="price">{{product.price | currency}}$</ion-card-subtitle>
    <ion-card-title class="title">{{product.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="content">
    <div class="number-container">
      <ion-button (click)="restUnits()">-</ion-button>
      <div>{{units}}</div>
      <ion-button (click)="addUnits()">+</ion-button>
      <ion-button fill="outline" color="danger" (click)="deleteProduct()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
