ion-card{
    --background: white !important;
    display: flex;
    margin-top: 20px;
}

ion-thumbnail{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40px;
    left: 5px;
}

ion-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.header{
    position: absolute;
    height: 100%;
    right: 40px;
    left: 110px;
}

.content{
    position: absolute;
    right: 40px;
    bottom: 10px;

}

.card{
    height: 180px;
}

.button{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.price{
    position: absolute;
    color: var(--ion-color-text-gray);
    bottom: 20px;
}

.title{
    position: absolute;
    font-size: 18px;
    color: var(--ion-color-text-gray);
    top: 10px;
    height: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    //white-space: nowrap;
}

