<ion-header>
  <ion-toolbar>
    <ion-title>
      MARKETUA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-input placeholder="Ingrese producto" [(ngModel)]="serchText"></ion-input>
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="findProduct()">Buscar</ion-button>
        <div class="products" *ngIf="products">
          <app-card-detail *ngFor="let prod of products" [product]="prod"></app-card-detail>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>